body{
	font-family:tohama,Arial;

	background: linear-gradient(
		 rgba(48, 63, 68, 0.45),
		  rgba(69, 120, 156, 0.45) 
		),
	url('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

}
.navbar{
	background: #105198;
	padding: 0 1rem;
    border-radius: 0 0 20px 20px;
    font-weight: bold;
}
.navbar-brand, .nav-link{

	color:white;
}
.nav-item{
	color: #105198;
	padding:10px 0;
	margin: 10px;
	position: relative;
	display: inline-block;
}
.nav-item::before{ 
	content: attr(data-text);
	width: 0;
	color: #105198;
	position:absolute;
	top:-3px;
	left:0;
	padding:10px 0;
	border-top: 3px solid white;
	overflow: hidden;
	transition:.4s;
}
.navbar-brand:hover, .nav-link:hover,.menu-icon:hover{

	color:#0e0361;
}
.nav-item:hover:before{
	width:100%;
}

.nav-item{
	padding:0;
}

.nav-it{
	color: #105198;
    padding:0;
    margin: 10px;
    position: relative;
    display: inline-block;
   /* flex-direction: row-reverse !important;
    justify-content: flex-end !important;*/
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
	color:#105198;
}
/*
.navbar-light .navbar-nav .nav-link{
	color:#2589b7;
}*/

.dropdown-item{
	color:white;
	padding:3px 1rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #105198;
}

.dropdown-menu{
	background: #105198;
	text-align: center;
    min-width: 8rem
}


/***menu icon **/
.menu-icon{
	color:white;
	transition: .5s;
}
.menu-icon:hover{
	transform:rotate(180deg);
}


.butt{
    color: #105198;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #105198;
    padding: 0 0.5rem; 
    background: none;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.20s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.butt:hover{
	background: #c5e5f3;
	color:#000;
}

/*
.content{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/

.content{
	margin-top: 4rem;
}

/*Main page*/
#list-btn{
	margin-bottom: 2rem;
}

.OptionForm{
	display: none;
}
.quote-box{
	text-align: center;
    background: rgba(16, 81, 152, 0.50);
    padding: 1rem;
    color: white;
    margin-top: 3rem;
    font-family: fantasy;
    letter-spacing: 0px;
    word-spacing: 4px;
    border-radius: 10px;
    line-height: 2rem;
    border: 1px solid  rgba(16, 81, 152, 1);
    border-top:10px solid white;
    transition: 1s;
    /*animation: quote_animation 1s linear 1;*/
}

.option-btn, #add-btn{
	width:100%;
	margin:0 auto;
	display: block;
	cursor: pointer;
	background-color: #105198;
	color:white;
	transition: .5s;
	font-size: 90%;
	position: relative;
}
.option-btn{
	animation: sayed 1s linear 2 alternate;
}
.option-btn:hover{
	background-color: white;
	color: #105198;
	font-size: 110%;
	font-weight: bold;
}
.option-btn:before{
	position: absolute;
	content: "";
	width: 100%;
	background: white;
	height: 50%;
	top: -11px;
	right: 0;
	border-radius: 50%;
	z-index: -1;
	transition: .5s;
}
.option-btn:hover:before{
	background: #105198;
	top: -13px;
}
#cancel{
	cursor: pointer;
}
#add-btn{
	background-color: white;
	color:rgba(16,81,152,1);
}
.bg-blue{
	background-color: rgba(16,81,152,.80);
	color: white;
}


.show{
	display: block;
}

@keyframes sayed{
	0%{
		margin-top:0;
	}
	100%{
		margin-top:1rem;
	}
}
/*
@keyframes quote_animation{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(-10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}*/


@media (min-width: 768px){
	.quote-box{
		margin-top: 0;
	}
}
@media (max-width: 992px){
	.quote-box{
		margin-top: 5rem;
	}
	.option-btn, #studentForm{
		font-size: 170%;
	}
	.option-btn:hover{
	font-size: 200%;
	}
	.custom-select{
		font-size: 70%;
		font-weight: normal;
	}
	.custom-select:focus{
		width: 45%;
    font-size: 40%;
	}
	/*.respon-font{
		font-size: 70%
	}*/
}
@media (max-width: 600px){
	.quote-box{
		margin-top: 5rem;
	}
	.option-btn, #studentForm{
		font-size: 170%;
	}
	.option-btn:hover{
	font-size: 200%;
	}
	.custom-select{
		font-size: 70%;
		font-weight: normal;
	}
	.custom-select:focus{
		width: 45%;
    font-size: 40%;
	}
	/*.respon-font{
		font-size: 70%
	}*/
}